//给项目提供全局的变量
$color:red;

// 左侧菜单的宽度
$base-silder-width:260px;
//左侧菜单的背景颜色
$base-silder-bgc:#001529;
//左侧logo 的高度
$base-silder-logo:50px;
//折叠菜单的宽度
$base-flod-silder-width:50px;

//顶部导航栏高度
$base-nav-height:100px;